extends layout
block content


  .container
    // Example row of columns
    .row
      .col-md-12
        .row
          .col-md-6
            br
            img(src="../img/lou1.png")
          .col-md-6

            h3 More about me
            br
            P
              | I started my shiatsu training in the summer of 2012 at the Norwich
              | Shiatsu college, I am now in my final year of training. Once I
              | have graduated I plan to run workshops and continue one to one
              | treatment sessions.
            p
              | I have a regular meditation and yoga practice.
            p
              | I am very interested in holistic health and the connections
              | between mind and body.
            p
              | I am also interested in how nutrition effects our general health.
  
