extends layout
block content


  .container
    // Example row of columns
    .row
      .col-md-12#contact
        h3 Contact Details
        br
        h4 I am based in Stowmarket in Suffolk
        br
        p.lead <strong>Email:</strong> weezepage@googlemail.com
        p.lead <strong>Tel:</strong> 07989 138814

          br
        p
    hr
    footer
      p &copy; Company 2014
