extends layout
block content

  .jumbotron
    .container
      h1 Shiatsu with Lou
      p Try a Shiatsu treatment
      p
        a.btn.btn-primary.btn-lg(role='button') Learn more &raquo;
  .container
    // Example row of columns
    .row
      .col-md-12
        h3 Frequently Asked Questions
        p
          | Here are a few of the questions people frequently ask about Shiatsu.
        h4 Do I have to be ill to receive Shiatsu?
        p
          | No. People can receive Shiatsu purely for relaxation and enjoyment.
          | Regular treatments may help to keep the body in harmony and ward off
          | ill-health.
          br
        h4 Can I receive Shiatsu whilst on medication?
        p
          | Yes. Your practitioner will ask whether you are currently taking
          | medication and take details of any medical conditions you are
          | suffering from.
          br
        h4 I’m pregnant – can I still receive Shiatsu?
        P
          | Yes. Shiatsu is safe and supportive during and after pregnancy.
          | Many of our practitioners specialise in maternity.
          br
        h4 Can Shiatsu help with ongoing or incurable conditions?
        p
          | Yes. Shiatsu can offer support and can often help to moderate or
          | manage symptoms even if the problem will never really go away. An
          | increased sense of well being due to Shiatsu may boost tolerance
          | levels in the receiver, helping them to deal with the symptoms more
          | easily.
          br
        p
    hr
    footer
      p &copy; Company 2014
