extends layout
block content


    // Example row of columns
    .row
      .col-md-4
        h2 About Shiatsu
        p
          | Shiatsu is a physical therapy that supports and strengthens the body’s
          | natural ability to heal and balance itself. It works on the whole person
          | - not just with the physical body, but also with the psychological,
          | emotional and spiritual aspects of being.
        p
          a.btn.btn-default(href='/shiatsu', role='button') Learn more &raquo;
      .col-md-4
        h2 About Lou
        p
          | I Graduated as a Physiotherapist in 1991. I started my Shiatsu training
          | in 2012 at the Norwich Shiatsu college. Having an orthodox and
          | complementary training on health and disease gives me a variety of
          | tools to care for my clients and help them to better health.
        p
          a.btn.btn-default(href='/about', role='button') Learn more &raquo;
      .col-md-4
        h2 Treatment
        p
          | Shiatsu is a traditional hands-on Japanese healing art.
          | It can help in a wide range of conditions - from specific injuries
          | to more general symptoms of poor health. Shiatsu is a deeply relaxing
          | experience and regular Shiatsu sessions help to prevent the build up
          | of stress in our daily lives.
        p
          a.btn.btn-default(href='/treatment', role='button') Learn More &raquo;
