extends layout
block content


  .container
    // Example row of columns
    .row
      .col-md-12
        h2 About Shiatsu
        p
          | Shiatsu is a physical therapy that supports and strengthens the
          | body’s natural ability to heal and balance itself. It works on the
          | whole person - not just with the physical body, but also with the
          | psychological, emotional and spiritual aspects of being. Shiatsu
          | originated in Japan from traditional Chinese medicine, with influences
          | from more recent Western therapies. Although shiatsu means ‘finger
          | pressure’ in Japanese, in practice a practitioner uses touch,
          | comfortable pressure and manipulative techniques to adjust the body’s
          | physical structure and balance its energy flow. It is a deeply
          | relaxing experience and regular treatments can alleviate stress and
          | illness and maintain health and well-being.
        p
        h2 History of Shiatsu
        p
          | Massage, along with acupuncture and herbalism, was for centuries an integral
          | Buddhist monk in the 6th century. The Japanese developed and refined many of
          | its methods to suit their own physiology, temperament and cliÂ­mate. In
          | particular, they developed the manual healing and diagnostic arts, evolving
          | special techniques of abdominal diagnosis, treatment and massage, which are
          | used in shiatsu today.
        P
          | However, the practice of massage known by the old name of anma (anmo or tuina in
          | China) became gradually divorced from medicine and more associated with
          | relaxation and pleasure. Certain practitioners were concerned to preserve
          | massage and related techniques as an accepted healing art.
        p
          | In the early part of the 20th century, one such practitioner, Tamai Tempaku,
          | incorporated the newer Western sciences of anatomy and physiology and
          | disciplines such as physiotherapy and chiropractic into several older methÂ­ods
          | of treatment. Originally he used the term shiatsu ryoho or finger pressure way
          | of healing, then shiatsu ho or finger pressure method. Now known simply as
          | Shiatsu, it was officially recognized as a therapy by the Japanese Government in
          | 1964, so distinguishing it from anma and Western massage.
        p
        h2 Styles of Shiatsu
        p
          | Many early Shiatsu practitioners developed their own style and some, including
          | Tokojiro Namikoshi and Shizuto Masunaga, founded schools that helped establish
          | Shiatsu as a therapy.
        P
          | Today, Shiatsu has a number of different styles, philosophical approaches and
          | theoretical bases and practitioners around the world are still evolving new
          | approaches to treatment. Some concentrate on acupressure (acupuncture) points,
          | while others emphasise more general work on the body or along the pathways of
          | energy to influence the Ki that flows in them. Other styles high­light
          | diagnostic systems, such as the Five Element system or the macrobiotic approach.
          | However all are based on traditional Chinese medicine.
        P
          | The approaches most commonly found in Britain are Zen Shiatsu, Macrobiotic
          | Shiatsu, Healing Shiatsu, Namikoshi Shiatsu, Movement Shiatsu and Hara Shiatsu.
        h2 Zen Shiatsu
        p
          | Shizuto Masunaga (1925-1981) incorporated his experience of Shiatsu into his
          | studies of Western psychology and Chinese medicine. He also refined the existing
          | methods of diagnosis. His extended system incorporated special exercises, known
          | as makko ho, to stimulate the flow of Ki and he developed a set of guiding
          | principles to make the techniques more effective. He called his system Zen
          | Shiatsu after the simple and direct approach to spirituality of the Zen Buddhist
          | monks in Japan.
        h2 Further Reading
        p
          | Shiatsu: A Step-by-step Guide by Nicola Pooley
          br
          | Secrets of Shiatsu by Cathy Meeus and Paul Lundberg
        p
