extends layout
block content


  .container
    // Example row of columns
    .row
      .col-md-12#contact
        h3 Your treatment session
        br
        p
          | Shiatsu is carried out either on a futon or a massage chair
          | depending on your comfort and abilities.
        P
          | Shiatsu is performed with the client fully clothed - it is
          | advisable to wear loose, comfortable clothing.
        P
          | Shiatsu consists of gentle palming and thumbing pressure along
          | meridian (accupuncture channel) lines as well as joint rotations,
          | stretches and movements.
        P
          | A treatment session lasts approximately one hour. The first session
          | will be slightly longer as details of your current state of health,
          | past medical history, medication and lifestyle will be taken to
          | ensure a holistic treatment approach.
        P
          | Payment is on a donation basis (suggested donation &pound;25)


          br
        p
